.section-image {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
    transform: scale(0.8, 0.85) translateY(-5%) translateX(-5%);
    &.baloon-1  {
        background-image: url('../images/balloon.png');
        height: 757px;
        width: 529px;
        @media screen and (max-width: 1100px) {
            transform: scale(0.7, 0.75) translateY(-5%) translateX(-5%);
        }
    }
    &.baloon-2  {
        background-image: url('../images/balloon2.png');
        height: 603px;
        width: 683px;
        transform: scale(0.8, 0.85) translateY(-5%) translateX(13%);
        @media screen and (max-width: 1100px) {
            transform: scale(0.7, 0.75) translateY(-5%) translateX(-5%);
        }
    }
    &.baloon-3  {
        background-image: url('../images/balloon3.png');
        height: 713px;
        width: 445px;
        transform: scale(0.8, 0.85) translateY(0%) translateX(-5%);
        @media screen and (max-width: 1100px) {
            transform: scale(0.7, 0.75) translateY(-5%) translateX(-5%);
        }
    }
    
}
